body{
    background-color: #312b33;
    font-family: "Rubik";
    height: 100vh;
}
.containerMain
{
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.containerButtons
{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.button 
{
    padding: 2rem 3rem;
    background-color: #846671;
    border: 0px;
}

.counter
{
    padding: 1rem 3rem;
    background-color: #494153;
}

.containerResult
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 40%;
    gap: 3rem;

}

#resultDisplay
{
    padding: 1rem 3rem;
    background-color:#494153;
}

.button, #resultDisplay ,.counter
{
    color: #c2baba;
}
