body{
    background-color: #1b1b20;
    font-family: "Rubik";
    height: 100vh;
}
.containerMain
{
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.containerButtons
{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.button 
{
    font-size: 1rem;
    box-sizing: content-box;
    height: 5rem;
    width: 15rem;
    background-color: #292736;
    border: 0px;
}

.button:hover 
{
    color:  white;
    text-shadow: 0 0 3px white;
}

.counter
{
    padding: 1rem 3rem;
    background-color: #2b2630;
}

.containerResult
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 40%;
    gap: 3rem;

}

#resultDisplay
{
    padding: 1rem 3rem;
    background-color:#2b2630;
}

.button, #resultDisplay ,.counter
{
    color: #c2baba;
}
